<link type="text/css" href="/ocxblog/public/style/BlogLayout.css" rel="stylesheet">

<div class="row">
    <div class="span9">

        <ul class="breadcrumb" style="margin-top:0px;margin-bottom: 5px">
            <li><a href="/" direct>首页</a> <span class="divider">/</span></li>
            <li class="breadcrumb-item-index"><a href="/ocxblog/index" direct>Blog</a> <span class="divider">/</span></li>
            <li class="breadcrumb-item-blog" style="display: none"></li>
        </ul>

        <views />
    </div>

    <div class="span3">
    <div class="sidebar">
    <view name="tophot" />

    <view name="topnew" />

    <div class="sidebar-box clearfix">
        <h4>
            友情链接
        </h4>
        <ul class="xoxo blogroll">
            <li>
                <a href="http://www.css119.com/" title="实时关注常见的前端开发" target="_blank">
                    css119.com
                </a>
                实时关注常见的前端开发
            </li>
            <li>
                <a href="http://loveui.cn/" title="UI设计师作品分享" target="_blank">
                    LOVEUI
                </a>
                UI设计师作品分享
            </li>
            <li>
                <a href="http://medialoot.com/" title="一些HTM5/UI/ICON资源" target="_blank">
                    medialoot
                </a>
                一些HTM5/UI/ICON资源
            </li>
            <li>
                <a href="http://mycolorscreen.com" title="Mobile Ui">
                    mycolorscreen
                </a>
                Mobile Ui
            </li>
            <li>
                <a href="http://www.red-team-design.com/" title="值得一看学习">
                    redteamdesign
                </a>
                值得一看学习
            </li>
            <li>
                <a href="http://www.uiparade.com/" title="优质UI设计资源" target="_blank">
                    Ui Parade
                </a>
                优质UI设计资源
            </li>
            <li>
                <a href="http://www.w3school.com.cn/" title="w3school在线教程" target="_blank">
                    w3school在线教程
                </a>
                w3school在线教程
            </li>
            <li>
                <a href="http://www.weboop.com/" rel="friend colleague" title="同事的个人博客"
                   target="_blank">
                    weboop
                </a>
                同事的个人博客
            </li>
            <li>
                <a href="http://www.w3cfuns.com/" title="Web前端开发(W3Cfuns)" target="_blank">
                    WEB前端开发
                </a>
                Web前端开发(W3Cfuns)
            </li>
            <li>
                <a href="http://www.admin10000.com/" target="_blank">
                    WEB开发者
                </a>
            </li>
            <li>
                <a href="http://ux.etao.com/" title="一淘-用户体验中心" target="_blank">
                    一淘-用户体验中心
                </a>
                一淘-用户体验中心
            </li>
            <li>
                <a href="http://www.w3cfuns.com/topic-64.html" title="学习基础的资料" target="_blank">
                    基础学习
                </a>
                学习基础的资料
            </li>
            <li>
                <a href="http://www.sjyzt.cn/" title="设计一站通上网导航" target="_blank">
                    <img src="http://www.sjyzt.cn/images/logo.jpg" alt="设计一站通 设计一站通上网导航" title="设计一站通上网导航">
                    设计一站通
                </a>
                设计一站通上网导航
            </li>
        </ul>
    </div>
    </div>
    </div>

</div>