<link type="text/css" href="/ocxBlog/public/style/index.css" rel="stylesheet">

<foreach for="@ blogs" var="blog">
    <div class="entry">
        <h2 class="entry-title"><a href="/ocxBlog/blog?id={%blog._id%}" title="@blog.title" direct><%blog.title%></a></h2>
        <div class="post-meta">
            <span class="meta-date"><% blog.createTime %></span>
            <span class="meta-author"><% blog.author %></span>
            <span class="meta-category"><a href="http://www.sysui.com/post/category/designpost" title="查看 前端设计 中的全部文章" rel="category tag">前端设计</a></span>
            <span class="meta-views"><%blog.views||0%> 次浏览</span>
        </div>
        <!-- END post-meta -->

        <% blog.content %>
    </div>
</foreach>