<div class="pagination" style="margin-top:0px;margin-bottom: 0px">
    <ul>
        <li class="@ thisPageNum==1 && 'disabled'"><a href="/ocxblog/index?page={%prevPageNum%}" direct="view">&laquo;</a></li>

        <loop end="@pageCount" var="pageNum">
            <li class="@ thisPageNum==pageNum && 'active'"><a href="/ocxblog/index?page={%pageNum%}" direct="view"><%pageNum%></a></li>
        </loop>

        <li class="@ thisPageNum>=pageCount && 'disabled'"><a href="/ocxblog/index?page={%nextPageNum%}" direct="view">&raquo;</a></li>
    </ul>
</div>

<view name='page' />